---
version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    groups:
      minor-and-patch-py:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "America/Chicago"
    labels:
      - "dependencies"
      - "dev"
      - "python"

  - package-ecosystem: "gomod"
    directory: "/"
    groups:
      minor-and-patch-go:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "daily"
      time: "17:00"
      timezone: "America/Chicago"
    labels:
      - "dependencies"
      - "go"

  - package-ecosystem: "npm"
    directory: "/"
    groups:
      minor-and-patch-npm:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "America/Chicago"
    labels:
      - "dependencies"
      - "dev"
      - "javascript"

  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      github-actions:
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "America/Chicago"
    labels:
      - "dependencies"
      - "dev"
      - "github_actions"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "17:00"
      timezone: "America/Chicago"
    labels:
      - "dependencies"
      - "dev"
      - "docker"
