# top-most EditorConfig file
root = true

# defaults
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
indent_style = space
indent_size = 2

[*.go]
indent_style = tab
indent_size = 4

# TOML
# https://github.com/toml-lang/toml/tree/master/examples
[*.toml]
indent_size = 2

[package.json]
indent_size = 2

# Override for Makefile
[{Makefile, makefile, GNUmakefile}]
indent_style = tab
indent_size = 4

[Makefile.*]
indent_style = tab
indent_size = 4

# https://google.github.io/styleguide/docguide/style.html
[*.md]
trim_trailing_whitespace = false
indent_size = 4
indent_style = space

[*.yaml]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

# https://google.github.io/styleguide/shellguide.html#formatting
[*.sh]
indent_style = space
indent_size = 2
