name: golangci-lint

on:
  push:
    branches:
      - main
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"
  pull_request:
    paths:
      - "**.go"
      - "**.mod"
      - "**.sum"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

env:
  SKIP: ${{ vars.SKIP }}

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci-reusable:
    uses: esacteksab/.github/.github/workflows/golangci-lint.yml@9ea62c6f31026b25522a6f4c1ca64e2e5321aea4  # v0.50.0
